<header class="header-main">
    <!-- Top Header 
    <div class="top-header container-fluid no-padding">
        <!-- Container 
        <div class="container">
            <ul class="col-md-4 social no-bottom-margin pull-left">
                <li><a href="#"><img src="assets/images/icon/fb-ic.png" alt="Facebook" /></a></li>	
                <li><a href="#"><img src="assets/images/icon/g%2b-ic.png" alt="Google pulse" /></a></li>
                <li><a href="#"><img src="assets/images/icon/tumbler-ic.png" alt="Tumbler" /></a></li>
                <li><a href="#"><img src="assets/images/icon/dribbble-ic.png" alt="dribbler" /></a></li>
                <li><a href="#"><img src="assets/images/icon/tw-ic.png" alt="Twitter" /></a></li>
            </ul>
            <div class="col-md-8 pull-right top-menu">
                <ul class="no-bottom-margin">
                    <li><a href="#">Enquiry</a></li>
                    <li><a href="#">Cancellation</a></li>
                    <li><a href="#">Booking Status</a></li>
                    <li><a href="#">Tariffs</a></li>
                </ul>
            </div>
        </div><!-- Container /- 
    </div><!-- Top Header /- -->

    <!-- Logo Block -->
    <div class="top_header">

    </div>
    <div class="middle-header container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 logo_img">
                <a href="/home">
                    <img src="assets/img/drive.png" alt="Logo" />
                    <!--<h3>Chennai Rider</h3>
                    <h6>Acting Driver Agency</h6>-->
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-right k_logos">
                <!--<div class="location">
                    <img src="assets/images/icon/location-ic.png" alt="Location" />
                    <p>xxxxxx,<span> Chennai, India.</span></p>
                </div>-->
                <div class="phone">
                    <img src="assets/img/icon/phone-ic.png" alt="phone" />
                    <p>Call Us Any Time:<span><a href="tel:+919384888874">9384888874</a>
                            <!--9384666410/938466642-->
                        </span></p>
                </div>



            </div>
        </div><!-- Container /- -->
    </div><!-- Logo Block /- -->
    <nav class="navbar ow-navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand logo-block">
                    <a href="/home">
                        <img src="assets/img/logo-new.png" alt="Logo" />
                        <!--<b>Chennai Raiders</b>
                        <h6>Acting Driver Agency</h6>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-sm-12 col-xs-12 pull-right">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--<li class="active dropdown">
                        <a href="#top" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                        
                    </li>-->
                        <li class="active"><a href="/home">Home</a></li>
                        <li class=""><a href="/about">About Us</a></li>
                        <li class=""><a href="/services">Services</a></li>
                        <li class=""><a href="/amenities">Amenities</a></li>
                        <li class=""><a href="/supremetaxi">Supreme call Taxi</a></li>
                        <li class=""><a href="/contact">Contact US</a></li>
                    </ul>
                </div>
                <a href="/contact" class="top_btn">Book For A Driver</a>

            </div>
        </div>
    </nav>
</header>