<footer class="footer-main">
    <!-- Container -->
    <div class="container">
        <div class="col-md-4 col-sm-6">
            <aside class="widget widget-subscribe">
                <div class="subscribe-box">
                    <h4>Subscribe To Mail!</h4>
                    <p>Get our Daily email newsletter with Special Services, Updates, Offers and more</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">SignUp</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <ul>
                    <li><a href="https://www.facebook.com/Chennai-Rider-109741107315152" target="_blank"><img
                                src="assets/images/icon/ftr-fb.png" alt="ftr" /></a></li>
                    <li><a href="https://twitter.com/chennai_rider" target="_blank"><img
                                src="assets/images/icon/ftr-tw.png" alt="ftr" /></a></li>
                    <li><a href="https://www.instagram.com/chennairiderindia" target="_blank">
                            <i class="fa fa-instagram"></i></a></li>

                    <li><a href="https://in.pinterest.com/chennairider/" target="_blank"><i
                                class="fa fa-pinterest"></i></a></li>

                </ul>
            </aside>
        </div>
        <div class="col-md-3 col-sm-6">
            <aside class="widget widget-links">
                <h3 class="widget-title">Quick Links</h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/amenities"> Amenities</a></li>
                    <li><a href="services.html#terms"> Terms & Condition</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </aside>
        </div>
        <div class="col-md-5 col-sm-6">
            <aside class="widget widget-about">
                <h3 class="widget-title">Head Office : Triplicane.<br> DriveBazaar & Supreme Call Drivers & Call Taxi
                </h3>

                <ul>
                    <li><img src="assets/images/icon/ftr-location.png" alt="Address" /> 12/50.Nallathambi Street,
                        Triplicane,
                        <br> Chennai-600005.
                    </li>
                    <li><img src="assets/images/icon/ftr-customer.png" alt="Phone" /> Customer Support : <span><a
                                href="tel:+919384888874">+919384888874</a>
                            <!--+91 9384666410/+91 9384666420-->
                        </span></li>
                    <li><img src="assets/images/icon/ftr-email.png" alt="Mail" /><span>Email :</span><a
                            href="mailto:info@drivebazaar.in">info@drivebazaar.in</a></li>
                </ul>
            </aside>
        </div>
    </div><!-- Container /- -->
    <div class="bottom-footer container-fluid no-padding">
        <div class="container">
            <!--<ul class="col-md-5 pull-left">
                <li><a href="#">Faq</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Client Support</a></li>
            </ul>-->
            <div class="col-md-12 text-center">
                <p class="copyright">copyrights &copy; 2020 Drive Bazaar.All rights reserved. Design and Developed by:<a
                        href="https://www.kpwebtech.com/" title="web design company in chennai"> KP Webtech</a></p>
            </div>
        </div>
    </div>
</footer>
<div class="footer_icon icon-bar">
    <!--<a href="tel:+919384888820" class="icon_contact bg-blue alertPulse"><i class="fa fa-phone fix_icon"></i></a>
<a href="https://api.whatsapp.com/send?phone=+919384888820" class="icon_contact bg-green alertPulse1"><i class="fa fa-whatsapp fix_icon"></i> </a>-->
    <a href="tel:+919384888874" class="icon_contact bg-blue alertPulse"><i class="fa fa-phone fix_icon"></i></a>
    <a href="https://api.whatsapp.com/send?phone=+919384888874" class="icon_contact bg-green alertPulse1"><i
            class="fa fa-whatsapp fix_icon"></i> </a>

</div>