<app-header></app-header>
<!-- Banner Section -->
<div id="page-banner" class="page-banner faq-banner container-fluid no-padding">
    <div class="page-heading">
        <h3>About Us</h3>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="#">About Us</a></li>
        </ol>
    </div>
</div><!-- Banner Section /- -->

<!-- Counter App -->
<div id="counter" class="container-fluid no-padding counter-app bg_white">
    <div class="section-padding"></div>
    <div class="container">
        <!--<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="counter">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="statistics-box">
							<i class="statistics-icon"><img src="assets/images/icon/car.png" alt="statistics-icon" /></i>
							<span id="statistics_count-1" data-statistics_percent="1200"></span>
							<h3><span>Successful Drives</span></h3>
						</div>						
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="statistics-box">
							<i class="statistics-icon"><img src="assets/images/icon/thumb-up.png" alt="statistics-icon" /></i>
							<span id="statistics_count-2" data-statistics_percent="1000"></span>
							<h3><span>Happy Customers</span></h3>
						</div>						
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="statistics-box">
							<i class="statistics-icon"><img src="assets/images/icon/driver.png" alt="statistics-icon" /></i>
							<span id="statistics_count-3" data-statistics_percent="350"></span>
							<h3><span>Talented Drivers</span></h3>
						</div>						
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="statistics-box">
							<i class="statistics-icon"><img src="assets/images/icon/milestone.png" alt="statistics-icon" /></i>
							<span id="statistics_count-4" data-statistics_percent="148"></span>
							<h3><span>Cities Covered</span></h3>
						</div>						
					</div>
				</div>
			</div>		-->
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="get-mobile">
                <h2 class="cr fw text-center">ABOUT US </h2>
                <h3 class="cblue fw text-center">Are you looking for the best professional tourist call drivers and
                    tours and travels in Chennai? </h3>


                <p class="get-mobile-content" style="text-align:justify;">Yes, you have made the right choice! Our
                    services are based on our client satisfaction and feedback; this makes us stand out from our
                    competitors. Our experienced drivers have good perception of your needs and they do a meticulous
                    work to ensure our customer’s satisfaction. We provide soft skill trainings every week based on our
                    customer’s feedback, so that we can improvise our services to retain as the best tourist call
                    drivers and tours and travels in Chennai. We have 24x7 road hog service and ensure secure driving at
                    all times.

                </p>
                <p class="get-mobile-content" style="text-align:justify;">We have drivers who are well informed in all
                    type of cars at a reasonable price, have well experienced car drivers in Chennai for outstation who
                    can help you in navigation with luxury driving skills. Our objective is to avoid intensification,
                    provide a peaceful journey and ensure our customers are satisfied at all moments.

            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="assets/img/aboutpage2.png" alt="about" />
        </div>



        <div class="col-sm-12">
            <div class="get-mobile">
                <h2 class="cr fw text-center">Our History </h2>
                <p class="get-mobile-content" style="text-align:justify;">
                    As the name implies, we provide <strong>Experienced tourist call drivers and tours and travels all
                        over Chennai</strong>, and We provide <strong>Local Outstation and Valet Services.</strong> Yes
                    we are riding the Chennai City now. Started in <strong>2018 by Mr.Bala Kumar (Founder) (s/o
                        Munusamy),</strong> we started our small office (100 Sq.Ft) in Triplicane. But now, it's our
                    privilege to say that within 2 years we could conquer thousands of hearts, not only in the Chennai
                    City but also at the Out Station areas. We have <strong>more than 100 experienced drivers</strong>
                    who have a good perception of our customer needs and always keen to ensure customer satisfaction.
                    This makes our service distinct from our competitors. <br><br>
                    We focus more on customer needs and satisfactions than our service. That’s why we provide soft skill
                    training for our drivers on a weekly basis and obtain customer feedback so that we could improvise
                    our service every time. We provide our Day and Night service (24*7) around the clock and on all 365
                    days of the year. We provide<strong> Local, Outstation and Valet Parking service</strong> apart from
                    its 24*7 online booking service through which you can book the service for anyone and from anywhere
                    from our website <strong>www.drivebazaar.in.</strong> You can also book our service though calling
                    to <strong>+91 9384888874.</strong> We provide all types of deriver services including Ordinary and
                    Luxury.<br><br>
                    With the support of our satisfied customers, we could enhance our service in more than one location,
                    our branch offices are working from Chennai's Perambur and Triplicane Both the offices are now
                    operating under the Head Office located in Parrys corner. If you are yet to taste our reliability
                    and remarkable services, come and relish it now.

                </p>
            </div>
        </div>
    </div>
    <div class="section-padding"></div>
</div><!-- Counter App/- -->
<div class="">
    <div class="section-padding"></div>
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<!-- Members
	<div class="container-fluid no-padding members members-style2">
		<div class="section-padding"></div>			
		<!-- Section Header 
		<div class="section-header"><h3>Drivers On Your Service</h3></div><!-- Section Header /- -->
<!-- Members Carousel 
		<div class="member-carousel">
			<div id="member">
				<div class="member-item">
					<img src="assets/images/members/member-2.1.jpg" alt="member-1"/>
					<div class="driver-info">
						<div class="driver">
							<h3>William Turner</h3>
							<ul>
								<li><a href="#" title="facebook"><img src="assets/images/members/facebook.png" alt="facebook"/></a></li>
								<li><a href="#" title="google-plus"><img src="assets/images/members/google-plus.png" alt="google-plus"/></a></li>
								<li><a href="#" title="twitter"><img src="assets/images/members/twitter.png" alt="twitter"/></a></li>
								<li><a href="#" title="tumbler"><img src="assets/images/members/tumbler.png" alt="tumbler"/></a></li>
							</ul>
						</div>
						<p>Limousine Driver<span>Skill Level: Senior</span></p>
					</div>
				</div>
				<div class="member-item">
					<img src="assets/images/members/member-2.2.jpg" alt="member-2"/>
					<div class="driver-info">
						<div class="driver">
							<h3>Johny Roges</h3>
							<ul>
								<li><a href="#" title="facebook"><img src="assets/images/members/facebook.png" alt="facebook"/></a></li>
								<li><a href="#" title="google-plus"><img src="assets/images/members/google-plus.png" alt="google-plus"/></a></li>
								<li><a href="#" title="twitter"><img src="assets/images/members/twitter.png" alt="twitter"/></a></li>
								<li><a href="#" title="tumbler"><img src="assets/images/members/tumbler.png" alt="tumbler"/></a></li>
							</ul>
						</div>
						<p>Sedan Driver<span>Skill Level: Senior</span></p>
					</div>
				</div>
				<div class="member-item">
					<img src="assets/images/members/member-2.3.jpg" alt="member-3"/>
					<div class="driver-info">
						<div class="driver">
							<h3>Altrin Mosea</h3>
							<ul>
								<li><a href="#" title="facebook"><img src="assets/images/members/facebook.png" alt="facebook"/></a></li>
								<li><a href="#" title="google-plus"><img src="assets/images/members/google-plus.png" alt="google-plus"/></a></li>
								<li><a href="#" title="twitter"><img src="assets/images/members/twitter.png" alt="twitter"/></a></li>
								<li><a href="#" title="tumbler"><img src="assets/images/members/tumbler.png" alt="tumbler"/></a></li>
							</ul>
						</div>
						<p>SUV Driver<span>Skill Level: Expert</span></p>
					</div>
				</div>
				<div class="member-item">
					<img src="assets/images/members/member-2.4.jpg" alt="member-4"/>
					<div class="driver-info">
						<div class="driver">
							<h3>Luther King</h3>
							<ul>
								<li><a href="#" title="facebook"><img src="assets/images/members/facebook.png" alt="facebook"/></a></li>
								<li><a href="#" title="google-plus"><img src="assets/images/members/google-plus.png" alt="google-plus"/></a></li>
								<li><a href="#" title="twitter"><img src="assets/images/members/twitter.png" alt="twitter"/></a></li>
								<li><a href="#" title="tumbler"><img src="assets/images/members/tumbler.png" alt="tumbler"/></a></li>
							</ul>
						</div>
						<p>Sedan Driver<span>Skill Level: Starter</span></p>
					</div>
				</div>
			</div>
		</div><!-- Members Carousel/-
		<!-- We Are Hire 
		<div class="we-are-hire pull-right">
			<a href="#"><img src="assets/images/members/member-2.5.jpg" alt="member-5"/></a>
			<div class="driver-info">
				<a href="#"><span>We Are Hiring</span></a>
			</div>		
		</div><!-- We Are Hire/- 
		<div class="section-padding"></div>
	</div><!-- Members/-  -->

<app-footer></app-footer>