<app-header></app-header>
<!-- Banner Section -->
<div id="page-banner" class="page-banner faq-banner container-fluid no-padding">
    <div class="page-heading">
        <h3>Contact Us</h3>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="#">Contact Us</a></li>
        </ol>
    </div>
</div><!-- Banner Section /- -->
<!-- Contact Form -->
<div class="contact-form container-fluid no-padding">
    <div class="section-padding"></div>
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Section Header -->
                <div class="section-header">
                    <h3>business Enquiry</h3>
                </div><!-- Section Header -->
                <p>Looking for the best professional call taxi and call drivers in Chennai, Drive Bazaar’s
                    client-centered approach, makes us stand out from competitors and experienced drivers. </p>
                <ul class="contactpagelist">
                    <p><strong>Head Office: Drive Bazaar Pvt. Ltd</strong>
                        <li><i class="fa fa-home"></i>Address 12/50.Nallathambi Street, Triplicane, <br> Chennai-600005.
                        </li>
                        <li><i class="fa fa-phone"></i> <span><a href="tel:+919384888874">+91 9384888874</a>
                                <!--+91 9384000134-->
                            </span></li>
                        <li><i class="fa fa-envelope-o"></i><span>Email :</span><a
                                href="mailto:info@drivebazaar.in">info@drivebazaar.in</a></li>
                </ul>



            </div>
            <div class="col-md-8 col-sm-12">
                <form class="row" id="contact-form" method="post">
                    <div class="col-md-6 col-sm-6 form-group">
                        <input type="text" class="form-control" id="input_name" name="contact-name"
                            placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group">
                        <input type="email" class="form-control" id="input_email" name="contact-email"
                            placeholder="E-mail Address" required>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group">
                        <input type="text" class="form-control" id="input_phone" name="contact-phone"
                            placeholder="Phone" required>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group">
                        <input type="text" class="form-control" id="input_subject" name="contact-subject"
                            placeholder="Subject" required>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <textarea class="form-control" rows="8" cols="50" id="textarea_message" name="contact-message"
                            placeholder="Message:" required></textarea>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" id="btn_submit" class="btn btn-default mt5">Send Message</button>
                    </div>
                    <div id="alert-msg" class="alert-msg"></div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row address-sec">
            <div class="col-sm-12">
                <h3 class="cr fw text-center"> Our Office Branches</h3>
            </div>
            <div class="col-sm-6">
                <div class="address_box">
                    <p><strong>Drive Bazaar Pvt. Ltd</strong></p>
                    <p><strong>Branch Head: Mis. Barkavi</strong>
                    <p><strong>Founder & Properater: Mr. Balakumar Munusamy</strong>
                    <ul class="contactpagelist">
                        <li>
                            <i class="fa fa-home"></i>
                            4/174, Gunndumali Street, Poonga Nagar, <br>Thiruvallur 602001.
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> 
                            <span>044-27660069</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email :</span>
                            <a href="mailto:info@drivebazaar.in">info@drivebazaar.in</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="address_box">
                    <p><strong>Supreme Call Taxi & Call Drivers. Thiruvallur.</strong></p>
                    <p><strong>Branch Head: Mis. Barkavi</strong>
                    <ul class="contactpagelist">
                        <li><i class="fa fa-home"></i>4/174.Poonga Nagar, Gundu Malli Street, Thiruvallur 602001.</li>
                        <li><i class="fa fa-phone"></i> <span>044-27660069</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>Email :</span><a
                                href="mailto:info@drivebazaar.in">info@drivebazaar.in</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row address-sec">
            <div class="col-sm-6">
                <div class="address_box">
                    <p><strong>Supreme Call Drivers & Call Taxi Thiruverkadu.</strong></p>
                    <p><strong>Branch Head: Mr. Balaji Kokku</strong>
                    <ul class="contactpagelist">
                        <li><i class="fa fa-home"></i>98.Mosque Street, Sri Krishna Nagar.Noobal, Thiruverkadu.<br>
                            Chennai 600077</li>
                        <li><i class="fa fa-phone"></i> <span>+91 9384666410 / +91 9384666420</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>Email :</span><a
                                href="mailto:info@drivebazaar.in">info@drivebazaar.in</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="address_box">
                    <p><strong>Supreme Call Drivers & Call Taxi Perambur</strong></p>
                    <p><strong>Branch Head: Miss. Bhavani Subramani</strong>
                    <ul class="contactpagelist">
                        <li><i class="fa fa-home"></i>No.4/31, Madurai Street, Perambur,<br> Chennai 600011.</li>
                        <li><i class="fa fa-phone"></i> <span>044-45000025</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>Email :</span><a
                                href="mailto:info@drivebazaar.in">info@drivebazaar.in</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- Container /- -->
    <div class="section-padding"></div>
</div><!-- Contact Form /- -->
<app-footer></app-footer>