<app-header></app-header>

<!-- Banner Section -->
<div id="page-banner" class="page-banner faq-banner container-fluid no-padding">
    <div class="page-heading">
        <h3>Amenities</h3>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="#">Amenities</a></li>
        </ol>
    </div>
</div><!-- Banner Section /- -->




<!-- Services -->
<div class="container-fluid no-padding">
    <div class="section-padding"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-box mb0">
                    <h3 class="fw">Our</h3>
                    <h2 class="cblue fw">Amenities</h2>
                    <p class="cb">We provide additional provisions to satisfy our customers such as online payment
                        option, debit cards, best customer support, prompt services, convenient times, comfort and
                        friendly services. </p>
                </div>

                <div id="sevice-slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="assets/img/item3.jpg" alt="service-1" />
                        </div>
                        <div class="item">
                            <img src="assets/img/item3.jpg" alt="service-2" />
                        </div>
                    </div>
                </div>
                <!--<div class="service-box book-now"><a href="/contact" title="Book Now">Book Now</a></div>-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box content">
                    <div class="section-box-title">
                        <img src="assets/img/icon/7.png" alt="home-pickup" />
                        <span>Travel Around Anywhere</span>
                    </div>

                </div>

                <div class="service-box content">

                    <div class="section-box-title">
                        <img src="assets/img/icon/8.png" alt="anytime" />
                        <span>Anytime Customer Support</span>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box content">
                    <div class="section-box-title">
                        <img src="assets/img/icon/1.png" alt="home-pickup">
                        <span>24/7 availability</span>
                    </div>

                </div>

                <div class="service-box content">
                    <div class="section-box-title">
                        <img src="assets/img/icon/2.png" alt="home-pickup">
                        <span>Parking available</span>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box content">
                    <div class="section-box-title">
                        <img src="assets/img/icon/3.png" alt="home-pickup">
                        <span>Accept debit/credit cards</span>
                    </div>

                </div>

                <div class="service-box content">
                    <div class="section-box-title">
                        <img src="assets/img/icon/4.png" alt="home-pickup">
                        <span>Bike parking available</span>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box content">
                    <div class="section-box-title">
                        <img src="assets/img/icon/5.png" alt="home-pickup">
                        <span>Cash</span>
                    </div>

                </div>

                <div class="service-box content">
                    <div class="section-box-title">
                        <img src="assets/img/icon/6.png" alt="home-pickup">
                        <span>Experienced Drivers</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="section-padding"></div>
</div><!-- -Services/- -->
<app-footer></app-footer>