<app-header></app-header>
<!-- Banner Section -->
<div id="page-banner" class="page-banner faq-banner container-fluid no-padding">
    <div class="page-heading">
        <h3>Derive Bazaar has franchised it's operations in the TN region to Supreme Call Taxi</h3>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="#">Supreme Call Taxi </a></li>
        </ol>
    </div>
</div><!-- Banner Section /- -->


<!-- Choose Us -->
<div class="bordertop-bg">
    <div class="container-fluid no-padding choose-us">
        <div class="section-padding"></div>
        <!-- Container -->
        <div class="container">
            <div class="section-header">
                <h3>Our Services</h3>
            </div>
            <!-- Choose Carousel -->
            <div class="choose-carousel">
                <div class="col-md-12">
                    <div class="choose-us-box">
                        <div class="choose-img-box"><img src="assets/img/taxi/indica.jpeg" alt="choose-us-1" /></div>
                        <div class="choose-us-content-box">
                            <h3>MINI - TATA Indica</h3>

                            <p> Add km 18</p>
                            <p class="cars">2hrs / 20Kms: Rs 400</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="choose-us-box">

                        <div class="choose-img-box"><img src="assets/img/taxi/dezire.jpeg" alt="choose-us-2" /></div>
                        <div class="choose-us-content-box">
                            <h3>SEDAN - Swift Dzire, Ithiyas</h3>

                            <p> Add km 20</p>
                            <p class="cars">2hrs / 20Kms: Rs 450</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="choose-us-box">

                        <div class="choose-img-box"><img src="assets/img/taxi/xylo.jpeg" alt="choose-us-2" /></div>
                        <div class="choose-us-content-box">
                            <h3>SUV - Mahindra Xylo, Tavera</h3>
                            <p> Add km 20</p>

                            <p class="cars">2hrs / 20Kms: Rs 500</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="choose-us-box">

                        <div class="choose-img-box"><img src="assets/img/taxi/innova.jpeg" alt="choose-us-2" /></div>
                        <div class="choose-us-content-box">
                            <h3>TOYOTA INNOVA</h3>

                            <p> Add km 27</p>
                            <p class="cars">2hrs / 20Kms: Rs 560</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="choose-us-box">

                        <div class="choose-img-box"><img src="assets/img/taxi/cryta.jpeg" alt="choose-us-2" /></div>
                        <div class="choose-us-content-box">
                            <h3>TOYOTA CRYSTA</h3>

                            <p> Add km 28</p>
                            <p class="cars">2hrs / 20Kms: Rs 600</p>

                        </div>
                    </div>
                </div>

            </div><!-- Choose Carousel/- -->
        </div><!-- Container/- -->
        <div class="section-padding"></div>
    </div><!-- Choose Us/- -->
</div>


<!-- Services -->
<div class="container-fluid no-padding">
    <div class="section-padding"></div>
    <div class="container" style="margin: 0px auto;">
        <img src="assets/img/tariff.jpeg">
    </div>
    <div class="section-padding"></div>
</div><!-- -Services/- -->
<app-footer></app-footer>