<app-header></app-header>
<!-- Banner Section -->
<div id="page-banner" class="page-banner faq-banner container-fluid no-padding">
    <div class="page-heading">
        <h3>Our Services</h3>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="#">Services</a></li>
        </ol>
    </div>
</div><!-- Banner Section /- -->

<div id="" class="container-fluid no-padding service-page">
    <div class="section-padding"></div>
    <div class="container">
        <div class="section-header1">
            <h2 class="fw text-center">Our <span class="cr">Services</span></h2>
        </div>

        <div class="row">


            <div class="ser-box">
                <div class="col-sm-4">
                    <img src="assets/img/s1.jpg" class="img-responsive">
                </div>
                <div class="col-sm-8">
                    <h4>CALL DRIVER</h4>
                    <p>We have passionate, experienced and BG verified drivers who can work for 24x7 around the clock as
                        per your convenience and requirement, our call taxi and call drivers in Chennai can work
                        efficiently by providing safe and peaceful journey. Our services are standing out from our
                        competitors is through our unmatched customer coordination, flexible booking, reliable drivers
                        and these services are provided under affordable cost.
                    </p>
                    <p>We provide call taxi and call drivers who are well versed in all types of cars (from hatchbacks
                        to SUVs, from budget cars to luxury cars, Automatic or Manual) for outstations rides and city
                        rides. We also have valet parking services and our main objective is to ensure that our
                        customers are satisfied with our stress free ride. </p>
                </div>
            </div>

            <!-- Item2-->
            <div class="ser-box">
                <div class="col-sm-4">
                    <img src="assets/img/s2.jpg" class="img-responsive">
                </div>
                <div class="col-sm-8">
                    <h4>TRAINING TO CAR OWNERS</h4>
                    <p>Do you like to be a well trained driver but driving schools are not in your comfortable time
                        schedule? No worries, we can do that in your car and in your place. We have efficient car
                        drivers in Chennai who can train you like a friend and at your convenient time. Our car drivers
                        in Chennai have great experience, efficiency so that they can train you as a safe and efficient
                        driver.
                    </p>
                    <p>Our objective is to train you in an efficient way and we stand out from other driving school by
                        providing our training at your convenient time maintain friendly relationship, remove all your
                        uneasiness regarding your driving skills.</p>
                </div>
            </div>

            <!-- Item3-->
            <div class="ser-box">
                <div class="col-sm-4">
                    <img src="assets/img/s3.jpg" class="img-responsive">
                </div>
                <div class="col-sm-8">
                    <h4>VALET PARKING</h4>
                    <p>Worried about valet expenses! We are here to hold your back, at Drive Bazaar we provide valet
                        parking facilities in cheap price making you relaxed and stay away from all the stress. Our car
                        drivers in Chennai are highly efficient in driving all type of cars and ensure stress free and
                        safe parking. We have drivers who can be hired in Chennai who can coordinate with your
                        customers, understand all their needs and act accordingly. </p>
                </div>
            </div>

            <!-- Item4-->
            <div class="ser-box">
                <div class="col-sm-4">
                    <img src="assets/img/s4.jpg" class="img-responsive">
                </div>
                <div class="col-sm-8">
                    <h4>OUTSTATION TRAVEL SERVICES- Perfect suit</h4>
                    <p>If you are in <b>need of perfect call taxi and call drivers for outstation services, Drive Bazaar
                            can help you by providing the best outstation service</b> as per your convenience and
                        requirement. Whether it may be a business or a pleasure journey, our call taxi and call drives
                        are efficient in handling any type of vehicles, presenting you with a relaxed environment and
                        provide you the best journey you deserve.
                    </p>
                    <p>We at Drive Bazaar provide reliable drivers at best cost, attractive tariff and provide wide
                        choice of vehicles, so that you select according to your budget and convenience. Our car drivers
                        in Chennai will perfectly suit your outstation journeys and help you have a stress less journey.
                    </p>
                </div>
            </div>



        </div>
    </div>
    <div class="section-padding"></div>
</div>

<section class="services_list bg1">
    <div class="container">
        <div class="section-padding"></div>
        <h3 class="cr fw text-center">ENJOY THE</h3>
        <h2 class="cblue fw text-center">SERVICES WE OFFER</h2>
        <br>
        <br>
        <div class="serviceitem">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service1.jpg" alt="choose-us-1"
                            class="img-responsive" />
                    </div>
                    <div class="choose-us-content-box">
                        <h3> Normal Gear</h3>
                        <p> Extra Hour Rs : 60 Only</p>
                        <p class="cars">Rs : 350 / 4 Hours</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service2.jpg" alt="choose-us-2"
                            class="img-responsive" />
                    </div>
                    <div class="choose-us-content-box">
                        <h3> Benz , BMW , Audi</h3>
                        <p> Extra Hour Rs : 70 Only</p>
                        <p class="cars">Rs : 400 / 4 Hours</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service3.jpg" alt="choose-us-3" /></div>
                    <div class="choose-us-content-box">
                        <h3> Night Fare </h3>
                        <p> After 10 to 12pm</p>
                        <p class="cars">Rs : 100/-</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service5.jpg" alt="choose-us-3" /></div>
                    <div class="choose-us-content-box">
                        <h3> Night Fare </h3>
                        <p> After 12am to 4am</p>
                        <p class="cars">Rs : 100/-</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service6.jpg" alt="choose-us-3" /></div>
                    <div class="choose-us-content-box">
                        <h3> Out of Station </h3>
                        <p> 12 Hours </p>
                        <p class="cars">Rs : 900 + 200(food)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service7.jpg" alt="choose-us-3" /></div>
                    <div class="choose-us-content-box">
                        <h3> Out of City </h3>
                        <p> Extra Hour Rs : 60 Only</p>
                        <p class="cars">Rs : 600 / 6 Hours</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service8.jpg" alt="choose-us-3" /></div>
                    <div class="choose-us-content-box">
                        <h3> Commercial TATA Ace</h3>
                        <p> Extra Hour Rs : 80 Only</p>
                        <p class="cars">Rs : 400 / 4 Hours</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="choose-us-box">
                    <div class="choose-img-box"><img src="assets/img/service9.jpg" alt="choose-us-3" /></div>
                    <div class="choose-us-content-box">
                        <h3> Valet Parking</h3>
                        <p> Extra Hour Rs : 75 Only</p>
                        <p class="cars">Rs : 500 / 4 Hours</p>
                    </div>
                </div>
            </div>
        </div><!-- Choose Carousel/- -->
    </div>
    <div class="section-padding"></div>

</section>
<section class="terms_sec" id="terms">
    <div class="section-padding"></div>
    <div class="container">
        <h3 class="cr fw text-center"> Terms and conditons</h3>
        <!--<h2 class="cblue fw text-center">  Terms and conditons</h2>-->
        <br>
        <ul>
            <li> Kindly look through the assessment details, we have definite cost value for all areas in the city with
                the current situation.</li>
            <li> The cost value varies from time to time depending on peak and non peak hours.</li>
            <li>Passenger is not allowed to force the driver for rash driving.</li>
            <li> Don’t maintain any personal relationship with the drivers.</li>
            <li> Don’t give your gadgets such as mobile phones, pen-drive and wallets to your driver.</li>
            <li> We recommend you to call the office when you come up with payment problems.</li>
            <li> If you notice any problems with your driver don’t argue, instead call to the office immediately.</li>
            <li> In case if you deal with cancellation of booking, you will be charged 100 rupees.</li>
            <li> If our drivers are the cause for the accident, we will help you claim insurance amount with our
                driver’s driving license for insurance car.</li>
            <li> In case of car with no insurance, driver will take half responsibility.</li>
            <li> If the accident is caused by strangers, our company will not take responsibility.</li>
            <li> You are not allowed to call your driver directly; we are not responsible for the issues.</li>
            <li> Don’t forget to take your personal gadget; we are not responsible for the theft.</li>
            <li> You are not allowed to ask for a test drive, we don’t provide training services.</li>
            <li> You are not allowed to give any other job other than driving such as money dealings; we are not
                responsible for any issues.</li>
        </ul>
    </div>
    <div class="section-padding"></div>
</section>

<!-- Vehicle Fleet
<div id="vehicle-fleet" class="container-fluid no-padding vehicle-fleet">
    <div class="section-padding"></div>
    <div class="container">
    
    
        <div class="section-header">
            <h3>Tariff Schedule</h3>				
        </div>
        
        
        <div class="vehicle-tabs">
            <!-- Nav Tabs -->
<!--			<ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#normal" role="tab" data-toggle="tab">Normal   </a></li>
                <li role="presentation"><a href="#outstation" role="tab" data-toggle="tab">Out Of Station  </a></li>
                <li role="presentation"><a href="#parking" role="tab" data-toggle="tab">Valet Parking  </a></li>
                <!--<li role="presentation"><a href="#monthly" role="tab" data-toggle="tab">Monthly  </a></li>-->
<!--			</ul><!-- Nav Tabs /- -->
<!-- Tab Content -->
<!--			<div class="tab-content">
                <!-- Tabs -->
<!--				<div role="tabpanel" class="tab-pane fade in active" id="normal">
                    <div class="col-md-7 vehicle-slider no-padding">
                        <div class="row">
                            <div class="main-slider">
                                <div id="slider-1" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="assets/img/aboutpage.jpg" alt="service-1"/></li>
                                        <li><img src="assets/img/car/d3.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/d2.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/d1.jpg" alt="item-2"/></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="thumbnail-slider">
                                <div id="carousel-1" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="assets/img/car/4.jpg" alt="service-1"/></li>
                                        <li><img src="assets/img/car/1.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/2.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/3.jpg" alt="item-2"/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>					
                    <div class="col-md-5 vehicle-detail">
                        <!-- Nav tabs -->
<!--						<ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#cab_details-1" role="tab" data-toggle="tab"> Normal Gear </a></li>
                            <li role="presentation"><a href="#customer_feedback-1" role="tab" data-toggle="tab"> Benz, BMW, Audi</a></li>
                        </ul>
                        <!-- Tab panes -->
<!--						<div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="cab_details-1">
                                <div class="tabe-content">
                                    <h3> 4 Hours<span><i class="rupees fa fa-inr" aria-hidden="true"></i>350</span></h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>60</span></h3>
                                    <h3>Night Fare After 10 To 12 PM<span><i class="rupees fa fa-inr" aria-hidden="true"></i>100</span></h3>
                                    <h3>Night Fare After 12 Am To 4 PM<span><i class="rupees fa fa-inr" aria-hidden="true"></i>100</span></h3>
                                    <h3>Contact Details <span><a href="/contact">Contact Now</a></span></h3>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="customer_feedback-1"> 
                                <div class="tabe-content">
                                    <h3> 4 Hours<span><i class="rupees fa fa-inr" aria-hidden="true"></i>400</span></h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>70</span></h3>
                                    <h3>Night Fare After 10 To 12 PM<span><i class="rupees fa fa-inr" aria-hidden="true"></i>100</span></h3>
                                    <h3>Night Fare After 12 Am To 4 PM<span><i class="rupees fa fa-inr" aria-hidden="true"></i>100</span></h3>
                                    <h3>Contact Details <span><a href="/contact">Contact Now</a></span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Tabs /- -->
<!-- Tabs -->
<!--				<div role="tabpanel" class="tab-pane fade" id="outstation">
                    <div class="col-md-7 vehicle-slider no-padding">
                        <div class="row">
                            <div class="main-slider">
                                <div id="slider-2" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="assets/img/aboutpage.jpg" alt="service-1"/></li>
                                        <li><img src="assets/img/car/d3.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/d2.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/d1.jpg" alt="item-2"/></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="thumbnail-slider">
                                <div id="carousel-2" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="assets/img/car/4.jpg" alt="service-1"/></li>
                                        <li><img src="assets/img/car/1.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/2.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/3.jpg" alt="item-2"/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>					
                    <div class="col-md-5 vehicle-detail">
                        <!-- Nav tabs -->
<!--					<ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#cab_details-2" role="tab" data-toggle="tab">Normal Gear</a></li>
                            <li role="presentation"><a href="#customer_feedback-2" role="tab" data-toggle="tab"> Benz, BMW, Audi</a></li>
                        </ul>
                        <!-- Tab panes -->
<!--					<div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="cab_details-2">
                                <div class="tabe-content">
                                    <h3> Out Of Station For Single Day 12 Hrs<span><i class="rupees fa fa-inr" aria-hidden="true"></i>900 + <i class="rupees fa fa-inr" aria-hidden="true"></i>200 (Food)</span>
                                    </h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>60</span></h3>
                                    <h3>Out Of City 6 Hrs.(Selected Area)<span><i class="rupees fa fa-inr" aria-hidden="true"></i>600</span></h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>60</span></h3>
                                    <h3>Contact Details <span><a href="/contact">Contact Now</a></span></h3>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="customer_feedback-2"> 
                                <div class="tabe-content">
                                    <h3> Out Of Station For Single Day 12 Hrs<span><i class="rupees fa fa-inr" aria-hidden="true"></i>900 + <i class="rupees fa fa-inr" aria-hidden="true"></i>200 (Food)</span>
                                    </h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>70</span></h3>
                                    <h3>Out Of City 6 Hrs.(Selected Area)<span><i class="rupees fa fa-inr" aria-hidden="true"></i>600</span></h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>70</span></h3>
                                    <h3>Contact Details <span><a href="/contact">Contact Now</a></span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Tabs /- -->
<!-- Tabs -->
<!---				<div role="tabpanel" class="tab-pane fade" id="parking">
                    <div class="col-md-7 vehicle-slider no-padding">
                        <div class="row">
                            <div class="main-slider">
                                <div id="slider-3" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="assets/img/aboutpage.jpg" alt="service-1"/></li>
                                        <li><img src="assets/img/car/d3.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/d2.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/d1.jpg" alt="item-2"/></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="thumbnail-slider">
                                <div id="carousel-3" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="assets/img/car/4.jpg" alt="service-1"/></li>
                                        <li><img src="assets/img/car/1.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/2.jpg" alt="item-2"/></li>
                                        <li><img src="assets/img/car/3.jpg" alt="item-2"/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>					
                    <div class="col-md-5 vehicle-detail">
                        <!-- Nav tabs -->
<!--					<ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#cab_details-3" role="tab" data-toggle="tab">Normal Gear</a></li>
                            <li role="presentation"><a href="#customer_feedback-3" role="tab" data-toggle="tab">Benz, BMW, Audi</a></li>
                        </ul>
                        <!-- Tab panes -->
<!--					<div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="cab_details-3">
                                <div class="tabe-content">
                                    <h3>Valet Parking 4 Hrs<span><i class="rupees fa fa-inr" aria-hidden="true"></i>500</span>
                                    </h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>75</span></h3>
                                    <h3>Commercial TATA Ace<span><i class="rupees fa fa-inr" aria-hidden="true"></i>400</span>
                                    </h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>80</span></h3>
                                    <h3>Contact Details <span><a href="/contact">Contact Now</a></span></h3>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="customer_feedback-3"> 
                                <div class="tabe-content">
                                    <h3>Valet Parking 4 Hrs<span><i class="rupees fa fa-inr" aria-hidden="true"></i>500</span>
                                    </h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>75</span></h3>
                                    <h3>Commercial TATA Ace<span><i class="rupees fa fa-inr" aria-hidden="true"></i>400</span>
                                    </h3>
                                    <h3>Extra Per Hour<span><i class="rupees fa fa-inr" aria-hidden="true"></i>80</span></h3>
                                    <h3>Contract Details <span><a href="/contact">Contact Now</a></span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Tabs /- -->
<!--			</div><!-- Tab Content /-  -->
<!--		</div>
    </div>
    <div class="section-padding"></div>	
</div><!-- - Vehicle Fleet /-  -->

<app-footer></app-footer>